.header {
  height: 100px; 
  background: rgb(155, 34, 66);
  position: sticky;
  width: 100%;
}

.header__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 100px;
  width: 600px;
}

.header__image {  
   height: 70%;
}

.title {
  background-color:#13322B;
  color:rgb(255, 255, 255);
}

